.entry {
    width: 250px;
    min-height: min-content;
}

.single {
    width: 500px;
    height: 800px;
}

.single,
.entry {
    border: 5px solid black;
    text-align: center;
    padding: 10px;
}

img {
    width: 150px;
    height: 150px;
    padding: 10px;

}